.pesquisa{
    padding: 1em;
    text-align: center;
    background: var(--azul-gradient);
    font-family: var(--fonte-logo);
    color: white;
}
.pesquisa__texto{
    margin: 1em 0;
}
.pesquisa__search{
    border: solid 2px white;
    border-radius: 24px;
    padding: 1em;
    width: 80%;
    background-color: transparent;
    color: white;
}
.pesquisa__search::placeholder{
    color: white;
    font-family: var(--fonte-logo);
    padding-left: 2.5em;
    background-image: url('imagens/Pesquisa.png');
    background-repeat: no-repeat;
    background-position: .5em;
}
